<section class="module-xs p-b-0">
<div class="container-fluid">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="text-center">
        <h3 class="montserrat">My creations</h3>
      </div>
    </div>
  <div class="works-grid-wrapper">
    <div id="works-grid" class="works-grid works-grid-masonry works-grid-gutter works-grid-3">
      <% @products.each do |product| %>
        <article class="work-item brand">
          <div class="work-wrapper">
            <%= cl_image_tag product.picture %>
            <div class="work-overlay">
              <div class="work-caption">
                <h6 class="work-title"><%= product.name + " | " + humanized_money_with_symbol(product.price) %> </h6>
                <span class="work-category"><%= product.description%></span>

                  <%= link_to 'Buy', new_order_path(product_id: product.id), class: "btn btn-block btn-round btn-dark" %>
              </div>
            </div>
              <!-- HERE A LINK TO THE PRODUCT PAGE IF NEEDED -->
          </div>
        </article>
      <% end %>
    </div>
  </div>
  </div>
</section>
