<section id="universes" class="module-xs p-b-0">
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="text-center">
        <h2 class="montserrat text-uppercase">Discover talents</h2>
        <h4 class="montserrat">Find artist's universes, presented to you randomly, revealing new talents.</h4>
      </div>
    </div>
  </div>

  <div class="works-grid-wrapper">
    <div id="works-grid" class="works-grid works-grid-masonry works-grid-gutter works-grid-3">
      <% @profiles.shuffle.each do |profile| %>
        <article class="work-item brand">
          <div class="work-wrapper">
            <%= cl_image_tag profile.universe_picture %>
            <div class="work-overlay">
              <div class="work-caption">
                <h6 class="work-title"><%= profile.universe_name %></h6>
                <span class="work-category"><%= profile.firstname.capitalize + " " + profile.lastname.capitalize %></span>
              </div>
            </div>
            <%= link_to profiles_path(profile), :class => "work-link" do %>
            <% end %>
          </div>
        </article>
      <% end %>
    </div>
  </div>
</section>
