<section id="hero" class="module-hero bg-black-alfa-30 color-white fullheight parallax" data-background="http://res.cloudinary.com/alxla/image/upload/v1488983913/content/STHU9365.jpg">
  <div class="hero-caption">
    <div class="hero-text">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1 class="montserrat text-uppercase text-super-xl">Kingdom of Art</h1>
          </div>
          <div class="col-sm-12 text-center">
            <!-- SEARCH -->
            <div class="menu-item hidden-xxs toto-search">
              <div class="extras-search">
                <a id="modal-search" href="#"><i class="icon-magnifier icons "></i></a>
                <form action="#" class="header-search-form">
                  <div class="search-form-inner">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="header-search-form-clouse">
                            <a href="#" class="form-close-btn">✕</a>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <input type="text" placeholder="Type &amp; hit enter">
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        <!-- END SEARCH -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
