<section id="hero" class="module-hero bg-black-alfa-30 color-white fullheight parallax" data-background="http://res.cloudinary.com/alxla/image/upload/v1488983913/content/STHU9365.jpg">
  <div class="hero-caption">
    <div class="hero-text">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1 class="montserrat text-uppercase text-super-xl">Kingdom of Art</h1>
            <h2 class="montserrat">Find your art, help talented people.</h2>
            <br>
            <a href="#about_us" class="btn btn-lg btn-circle btn-outline btn-warning">About us</a>
            <p></p>
            <a href="#universes" class="btn btn-lg btn-circle btn-outline btn-info">Discover artists</a>
          </div>
          <div class="col-sm-12 text-center">
            <!-- SEARCH -->

        <!-- END SEARCH -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
