<section id="hero" class="module-hero bg-black-alfa-30 color-white fullheight parallax" data-background="http://res.cloudinary.com/alxla/image/upload/v1488983913/content/STHU9365.jpg">
  <div class="hero-caption">
    <div class="hero-text">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1 class="montserrat text-uppercase text-super-xl">Kingdom of Art</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
