<section id="description" class="module fullheight bg-white-dark">
      <div class="container">

        <div class="row multi-columns-row">

          <!-- ICONBOX -->
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="box-icon text-center">
              <div class="icon-box-icon">
                <i class="icon-star icons"></i>
              </div>
              <h4>Discover hidden talents</h4>
              <p>According to the dictionary, a talent is a natural endowment of a person. Back in the day, a lot of makers or artisans are mostly seen but never heard. Outside of expositions and gallery’s presentations, the public is never really granted access into their creations due to a lack of means. Focusing on discovering unsung or underappreciated talent by highlighting artists who are worthy of our attention, KOA explore the world and try to make unknown artists stand out and rise to the top.</p>
            </div>
          </div>
          <!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="box-icon text-center">
              <div class="icon-box-icon">
                <i class="icon-eyeglass icons"></i>
              </div>
              <h4>Find unique items</h4>
              <p>Discover handmade items, vintage goods and craft supplies you can’t find anywhere else. Connect directly with artists around the world and join KOA team to collaborate with us. Learn the stories of makers and designers around the world. Our mission is to reimagine commerce in ways that build a more fulfilling and lasting world. We view our social, environmental and business goals as inseparable. We provide entrepreneurial training for artisans looking for new ways to support themselves and their families.</p>
            </div>
          </div>
          <!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="box-icon text-center">
              <div class="icon-box-icon">
                <i class="icon-target icons"></i>
              </div>
              <h4>Make custom requests</h4>
              <p>Many makers or artisans on KOA offer custom, made-to-order items. If a product give you interest but you want to customize some details, you can Request Custom Order. Click the button to communicate with the artist in universe page and tell directly to the artist about what you want. You can add an image to help illustrate what you’re looking for. You can also include a “needed-by” date, so it’s clear to the seller if you need the item by a certain time. Once you send a custom request, you’ll be able to follow the process in the orders field.</p>
            </div>
          </div>
          <!-- END ICONBOX -->

        </div><!-- .row -->
        <div class="text-center">
        <a href="#universes" class="btn btn-lg btn-circle btn-outline btn-info">Discover artists</a>
        </div>
      </div>
    </section>
