    <!-- FOOTER -->
  <div class="wrapper">
    <footer id="footer" class="footer">
      <div class="container">

        <div class="row">

          <!--  -->
          <div class="col-sm-3">
            <div class="widget">
              <div class="counter p-0 m-b-30">
                <h2 class="montserrat m-b-5">
                  <span class="counter-timer" data-from="0" data-to="52345678">0</span>
                </h2>
                <h5>Total visits</h5>
              </div>
              <p>Discover talented artits through their Universes.</p>

              <ul class="social-icons social-icons-simple">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
          <!--  -->

          <!-- RECENT POSTS WIDGET -->
          <div class="col-sm-3">
            <div class="widget">
              <h6 class="montserrat text-uppercase bottom-line">Latest Artists</h6>
              <ul class="recent-posts">
                <li>
                  <div class="widget-posts-image">
                    <a href="#"><img src="assets/images/blog/widgets/1.jpg" alt=""></a>
                  </div>
                  <div class="widget-posts-body">
                    <h6 class="widget-posts-title"><a href="#">Universe name1</a></h6>
                    <div class="widget-posts-meta">Artist name1</div>
                  </div>
                </li>
                <li>
                  <div class="widget-posts-image">
                    <a href="#"><img src="assets/images/blog/widgets/1.jpg" alt=""></a>
                  </div>
                  <div class="widget-posts-body">
                    <h6 class="widget-posts-title"><a href="#">Universe name2</a></h6>
                    <div class="widget-posts-meta">Artist name2</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- END RECENT POSTS WIDGET -->

          <!-- RECENT POSTS WIDGET -->
          <div class="col-sm-3">
            <div class="widget">
              <h6 class="montserrat text-uppercase bottom-line">Artist of the week</h6>
              <ul class="recent-posts">
                <li>
                  <div class="widget-posts-image">
                    <a href="#"><img src="assets/images/blog/widgets/1.jpg" alt=""></a>
                  </div>
                  <div class="widget-posts-body">
                    <h6 class="widget-posts-title"><a href="#">Universe name1</a></h6>
                    <div class="widget-posts-meta">Artist name2</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- END RECENT POSTS WIDGET -->

          <!-- CONTACT WIDGET -->
          <div class="col-sm-3">
            <div class="widget">
              <h6 class="montserrat text-uppercase bottom-line">Contact Us</h6>
              <address class="map-background">
                <p>12 ter, rue des Tours,<br>
                Lille, Haut de France</p>
                Phone: 00 33 123 4567<br>
                Fax: 00 33 123 4567<br>
                E-mail: <a href="mailto:support@neomax.com">support@koa.com</a>
              </address>
            </div>
          </div>
          <!-- END CONTACT WIDGET -->

        </div><!-- .row -->

        <div class="copyright">

          <div class="row">

            <div class="col-sm-6">
              <p class="m-0">
                Copyright <a href="#">KingofArtists</a>, 2017, All Rights Reserved.
              </p>
            </div>

            <div class="col-sm-6">
              <div class="text-right">
                <a href="#top" class="scroll-top"><i class="fa fa-level-up"></i></a>
              </div>
            </div>

          </div><!-- .row -->

        </div>

      </div>
    </footer>
    <!-- END FOOTER -->
    </div>
