<!<!-- HEADER -->
<header class="header header-fixed header-transparent">

    <!-- MAIN MENU -->
    <nav id="custom-collapse" class="main-nav collapse clearfix">
      <ul class="inner-nav pull-right">

        <!-- HOME -->
        <li class="has-submenu">
          <a href="#">Home</a>
        </li>
        <!-- END HOME -->
        <!-- PAGES -->
        <li class="has-submenu">
          <a href="#">Pages</a>
        </li>
        <!-- END PAGES -->
        <!-- FEATURES -->
        <li class="has-submenu">
          <a href="#">Filters</a>
        </li>
        <!-- END FEATURES -->
        <!-- SHORTCODES: MEGA MENU -->
        <li class="has-submenu">
          <a href="#">Messages</a>
        </li>
        <li class="has-submenu">
          <% if current_user %>
        <div class="menu-item">
          <div class="extras-login">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-kingdom-item navbar-kingdom-button btn sign-up-link" %>
        <% else %>
            <%= link_to "Sign up / Log in", new_user_session_path, class: "
            navbar-kingdom-item navbar-kingdom-button btn sign-up-link" %>
          </div>
        </div>
        <% end %>
        </li>
        <li class="menu-item">
           <% if current_user %>
            <%= link_to admin_profile_path(current_user.profile), class: "navbar-kingdom-item navbar-kingdom-link" do %>
            <div class="navbadge-container">
              <i class="fa fa-envelope-o"></i>
              <%= current_user.profile.lastname %>
            </div>
            <% end %>
            <% end %>
        </li>



        <!-- END SHORTCODES: MEGA MENU -->
        <!-- User logged?<--></-->
        <!-- Notification link-->
        <!-- Button (Sign up / log in/out) -->
        <!-- Dropdown appearing on mobile only -->
        <div class="navbar-kingdom-item hidden-md hidden-lg">
          <div class="dropdown">
            <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-kingdom-dropdown-menu">
              <li><a href="#">Some mobile link</a></li>
              <li><a href="#">Other one</a></li>
              <li><a href="#">Other one</a></li>
            </ul>
          </div>
        </div>
      </ul>
    </nav>
  </div>
</header>
<!-- END HEADER -->
