<header class="header header-fixed header-transparent">
    <div class="container">
      <!-- YOUR LOGO HERE -->
      <div class="inner-header">
        <a class="inner-brand" href="index.html">
          <img class="brand-light" src="assets/images/logo-light.png" width="100" alt="">
          <img class="brand-dark" src="assets/images/logo-dark.png" width="100" alt="">
        </a>
      </div>
    
      <!-- OPEN MOBILE MENU -->
      <div class="main-nav-toggle">
        <div class="nav-icon-toggle" data-toggle="collapse" data-target="#custom-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
      </div>
    
      <!-- WIDGETS MENU -->
      <div class="inner-header pull-right">
        <div class="menu-extras clearfix">
    
          <!-- SEARCH -->
          <div class="menu-item hidden-xxs">
            <div class="extras-search">
              <a id="modal-search" href="#"><i class="icon-magnifier icons"></i></a>
              <form action="#" class="header-search-form">
                <div class="search-form-inner">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="header-search-form-clouse">
                          <a href="#" class="form-close-btn">✕</a>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <input type="text" placeholder="Type &amp; hit enter">
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- END SEARCH -->
    
        </div>
      </div>
    
      <!-- MAIN MENU -->
      <nav id="custom-collapse" class="main-nav collapse clearfix">
        <ul class="inner-nav pull-right">
    
          <!-- HOME -->
          <li class="has-submenu">
            <a href="#">Home</a>
          </li>
          <!-- END HOME -->
    
          <!-- PAGES -->
          <li class="has-submenu">
            <a href="#">Pages</a>
          </li>
          <!-- END PAGES -->

          <!-- FILTERS -->
          <li class="has-submenu">
            <a href="#">Filters</a>
          </li>
          <!-- END FILTERS -->

          <!-- MESSAGES -->
          <li class="has-submenu">
            <a href="#">Messages</a>
          </li>
          <!-- END MESSAGES -->
    
          <!-- DIVIDER -->
          <li><a>&nbsp;</a></li>
    
          <li>
            <% if user_signed_in? %>
              <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'SIGN UP / SIGN IN', new_user_session_path %>
            <% end %>

          </li>
    
        </ul>
      </nav>
    
    </div>
  </header>