<!-- PRELOADER -->
<div class="page-loader">
  <div class="loader">Loading...</div>
</div>
<!-- END PRELOADER -->

<!-- WRAPPER -->
<div class="wrapper">
  <%= render "shared/banner" %>
  <%= render "shared/description" %>
  <%= render "shared/all-artists" %>
</div>
<!-- END WRAPPER -->
