   <!-- DEFAULT TABS -->
    <section class="module divider-bottom">
      <div class="container">

        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">

            <!-- TABS -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab-1" data-toggle="tab">Product</a></li>
              <li><a href="#tab-2" data-toggle="tab">Picture</a></li>
              <li><a href="#tab-3" data-toggle="tab">Description</a></li>
              <li><a href="#tab-4" data-toggle="tab">Price</a></li>
            </ul>

            <div class="tab-content">

              <div id="tab-1" class="tab-pane active">
                <p><img src="assets/images/slider/1.jpg" alt=""></p>
                <p>Describe here briefly your product</p>
              </div>

              <div id="tab-2" class="tab-pane">
                <p><img src="assets/images/slider/2.jpg" alt=""></p>
                <p>Insert here a picture of your product</p>
                <%= form_for(@product, url: products_path(@product)) do |f| %>
                  <div class="col-md-12 form-group">
                    <label>Your Product Picture</label>
                    <%= image_tag(@product.picture) if @product.picture? %>
                    <%= f.file_field :picture, :class => "btn btn-block btn-round btn-base" %>
                     <%= f.hidden_field :picture_cache %>
                  </div>
                <% end %>
              </div>

              <div id="tab-3" class="tab-pane">
                <p><img src="assets/images/slider/3.jpg" alt=""></p>
                <p>Insert here a full description of your product</p>
              </div>

              <div id="tab-4" class="tab-pane">
                <p><img src="assets/images/slider/4.jpg" alt=""></p>
                <p>Specify the price and payment conditions</p>
              </div>
            </div>
            <!-- END TABS -->

          </div>
        </div><!-- .row -->

      </div>
    </section>
    <!-- END DEFAULT TABS -->



  <!-- /WRAPPER -->

  <!-- SHOP CART -->
  <div class="off-canvas-cart">

    <div class="off-canvas-cart-wrapper">

      <div class="off-canvas-cart-header">
        <a id="cart-toggle" href="#">
          <i class="icon-arrow-right-circle icons"></i>
        </a>
      </div>

      <div class="off-canvas-cart-content">
        <div class="off-canvas-cart-content-wrap">

          <!-- ITEM -->
          <div class="off-canvas-cart-item">
            <div class="off-canvas-cart-item-trash">
              <a href="#"><i class="icon-trash icons"></i></a>
            </div>
            <div class="off-canvas-cart-item-thumbnail">
              <a href="#"><img class="cart-thumbnail" src="assets/images/shop/1.jpg" alt=""></a>
            </div>
            <div class="off-canvas-cart-item-title">
              <h5 class="m-b-5"><a href="#">Buttoned Linen Skirt</a></h5>
              $44.00 × 1
            </div>
          </div>
          <!-- END ITEM -->

          <!-- ITEM -->
          <div class="off-canvas-cart-item">
            <div class="off-canvas-cart-item-trash">
              <a href="#"><i class="icon-trash icons"></i></a>
            </div>
            <div class="off-canvas-cart-item-thumbnail">
              <a href="#"><img class="cart-thumbnail" src="assets/images/shop/2.jpg" alt=""></a>
            </div>
            <div class="off-canvas-cart-item-title">
              <h5 class="m-b-5"><a href="#">Printed Bermuda Shorts</a></h5>
              $80.00 × 1
            </div>
          </div>
          <!-- END ITEM -->

          <!-- ITEM -->
          <div class="off-canvas-cart-item">
            <div class="off-canvas-cart-item-trash">
              <a href="#"><i class="icon-trash icons"></i></a>
            </div>
            <div class="off-canvas-cart-item-thumbnail">
              <a href="#"><img class="cart-thumbnail" src="assets/images/shop/3.jpg" alt=""></a>
            </div>
            <div class="off-canvas-cart-item-title">
              <h5 class="m-b-5"><a href="#">Short Frilled Skirt</a></h5>
              $40.00 × 1
            </div>
          </div>
          <!-- END ITEM -->

        </div>
      </div>

      <div class="off-canvas-cart-footer">
        <div class="off-canvas-cart-info">
          <div class="row">
            <div class="col-xs-6">
              <h4 class="m-0">Total:</h4>
            </div>
            <div class="col-xs-6">
              <h4 class="m-0 text-right">$1380.00</h4>
            </div>
          </div>
        </div>

        <div class="off-canvas-cart-control">
          <a href="#" class="btn btn-lg btn-block btn-outline btn-fade btn-round btn-dark">Checkout</a>
          <a href="#" class="btn btn-lg btn-block btn-round btn-base">Edit Cart</a>
        </div>
      </div>

    </div>
  </div>
</div>
  <!-- END SHOP CART -->

  <!-- JAVASCRIPT FILES -->

  <script src="assets/js/jquery-2.2.3.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/plugins.min.js"></script>
  <script src="assets/js/custom.min.js"></script>

  <!-- END -->

